header{
 
    text-align: center;
    image-rendering: optimizeSpeed;
    color: white;
    background-color: black;
}
nav{
    text-align: center;
}

a:link{
    color: blue;
}

a:visited{
    color: blue;
}
a:hover{
    color: darkblue;
}
a:active{
    color: red;
}